body {
  background-image: url("https://pcvector.ru/800/600/https/www.freegreatpicture.com/files/26/2783-blue-and-white-wallpaper.jpg");
}

.app-wrapper {
  display: grid;
  width: 500px;
  grid-template-areas:
  "h h "
  "n c";

  grid-template-rows: 60px 2fr;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 100px;
  grid-gap: 10px;
}

.app-wrapper-content {

}
